* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #211a1d;
    font-family: 'Staatliches';
}


.logo {
    margin-bottom: 35px;
    animation: fadeIn 1.5s ease;
}

.logo img {
    width: 120px;
    height: auto;
    border-radius: 14px;
    filter: drop-shadow(0 0 10px rgba(255, 120, 0, 0.4));
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.06);
}


h1 {
    color: #ff6a00;
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(255, 120, 0, 0.4);
}


.btn-inicio {
    width: 90px;
    padding: 5px 0;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #ff6a00;
    background: #211a1d;
    color: #ff6a00;
    font-family: Staatliches;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 4px 9px rgba(255, 120, 0, 0.25);
}

.btn-inicio:hover {
    transform: scale(1.04);
    background: #211a1d;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    font-family: Julius Sans One;
    color: #ff6a00;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}