body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #0e0e0e;
    color: #fff;
}



header {
    background: #181818;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #222;
}

header h1 {
    margin: 0;
}

header input {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    width: 250px;
    background: #2a2a2a;
    color: white;
}


.actions {
    position: absolute;
    margin-top: -105px;
    margin-left: 820px;
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 15px;
    padding: 20px;
}

button {
    background: linear-gradient(135deg, #7f3fff, #5a00e0);
    border: none;
    padding: 12px 20px;
    border-radius: 14px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}


.album-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    margin-bottom: 20px;
}

.album-card {
    background: #1b1b1b;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border: 1px solid #2a2a2a;
    transition: 0.2s;
}

.album-card:hover {
    transform: translateY(-4px);
}

.album-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 18px;
}


.music-item {
    background: #262626;
    padding: 12px;
    border-radius: 12px;
    margin-top: 10px;
    border: 1px solid #333;
}

.music-item p {
    margin: 5px 0;
    font-size: 14px;
}

.music-item audio {
    width: 100%;
    margin-top: 8px;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.45);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background: #226869;
    padding: 25px;
    border-radius: 18px;
    width: 350px;
    border: 1px solid #d0e6e9;
    box-shadow: 0 0 25px #00000090;
    animation: modalUp 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1; }
}

@keyframes modalUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    background: #211a1d;
    color: white;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

.btn-save {
    background: #3aff8c;
    color: black;
    font-weight: bold;
}

.btn-save:hover { background: #5aff9d; }